section#banner {
  background-color: #0c63ff;
  padding: 4rem 10%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#banner .banner-left {
  width: 50%;
  padding-top: 60px
}

.banner-left h3 {
  overflow: none;
  white-space: nowrap;
}

.banner-left p {
  margin: 0;
}

#banner .banner-right {
  width: 50%;
}

#banner #carouselExampleIndicators {
  width: 80%;
  float: right;
}

button.banner-button-left {
  color: black !important;
}

button.banner-button-right {
  color: white;
  border: 1px solid white;
}

#classes > .container > .container-fluid {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.learning-text {
  font-size: 20px;
  color: rgb(135, 144, 158)
}

#classes .card-body {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#classes a.btn {
  border-radius: 100px;
}

#mid-banner {
  background-color: #0c63ff;
  color: white;
  text-align: center;
  align-items: center;
}

#process > .container {
  text-align: center;
}

#thousands > div.row {
  align-items: flex-end;
  justify-content: center;
}

#thousands > div.row > div.cards {
  /* box-shadow: rgba(119, 131, 143, 0.2) 0px 0px 30px 0px; */
}

.azanae, .bustard, .peyton {
  position: absolute;
  top: -53px;
  border: 2px solid #0c63ff;
  border-radius: 100%;
}

h2.people-text {
  text-align: center;
}