section#banner {
  background-color: #0c63ff;
  padding: 4rem 10%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#banner .banner-left {
  width: 50%;
  padding-top: 60px
}

.banner-left h3 {
  overflow: none;
  white-space: nowrap;
}

.banner-left p {
  margin: 0;
}

#banner .banner-right {
  width: 50%;
}

#banner #carouselExampleIndicators {
  width: 80%;
  float: right;
}

button.banner-button-left {
  color: black !important;
}

button.banner-button-right {
  color: white;
  border: 1px solid white;
}