section#banner {
  background-color: #0c63ff;
  padding: 4rem 10%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#banner .banner-left {
  width: 50%;
  padding-top: 60px
}

.banner-left h3 {
  overflow: none;
  white-space: nowrap;
}

.banner-left p {
  margin: 0;
}

#banner .banner-right {
  width: 50%;
}

#banner #carouselExampleIndicators {
  width: 80%;
  float: right;
}

/*
button.banner-button-left {
  color: black !important;
}

button.banner-button-right {
  color: white;
  border: 1px solid white;
}
*/

button.banner-button-left {
  color: white;
  border: 1px solid white;
}

section#features {
  background-color: white;
  padding: 4rem 10%;
  color: #0c63ff;
  display: flex;
  align-items: center;
  justify-content: center;
}


.mt-n1 {
  margin-top: -1rem !important;
}

.mt-n7 {
  margin-top: -7rem !important;
}

section#offer {
  background-color: #0c63ff;
  color: white;
  text-align: center;
  align-items: center;
}


section#clients{
  background-color: white;
  padding: 4rem 10%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#clients .carousel-inner img {
  width: 20%;
  height: 10%;
  float: left;
  padding: 5px;
}

section#offer {
  background-color: #0c63ff;
  color: white;
  text-align: center;
  align-items: center;
}

.talentsits {
  background-color: white;
  color: black;
  text-align: center;
  align-items: center;
  padding-top: 2em;
}

section#everyone {
  background-color: white;
  color: black;
  text-align: center;
  align-items: center;
  margin-top: 5em;
}

#everyone p {
  color:grey;
}

/*header style*/
/*
.header{
  background-image: url('/images/backgroundimage.png');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
 }


.overlay{
position: absolute;
min-height: 100%;
min-width: 100%;
left: 0;
top: 0;
background: rgba(244, 244, 244, 0.79);
}
*/
section#everyone .programs {
  /*
  background-image: url('/images/backgroundimage.png');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  */
  position: relative; 
  min-height: auto;
  padding-bottom: 5em;
  display: flex;
  justify-content: center;
  align-items: center; 
  /*
  margin-top: 1em; 
  */
  top: 0;
}

/*
.overlay{
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(244, 244, 244, 0.79);
  }
  */

  .programs img {
    /*
    margin-top: 5em; 
    */
    width:100%;
    height:fit-content;   
  }

  /*
  img {
    border: 2px solid red;
  }
  */

  /*
  .img1n2 {
    display: flex; 
    justify-content:center;
  }
  */

  .programs .backimg {
    z-index: 1;
  }
  
  .programs .foreimg {
    position: absolute; 
    z-index: 2;
    top: 35%;
  }




 
